<%= simple_form_for @demand do |f| %>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-2">
      <%= f.input :number_of_people, label: "Personnes à table ?", collection: 1..10, selected: 4 %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <%= f.input :location, label: "Adresse", placeholder: "Adresse, quartier, métro, arrondissement...", input_html: { id: 'autocomplete_address'}, error: "Veuillez choisir une adresse valide" %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= f.input :scheduled_at, as: :string, label: "Quand souhaitez vous réserver ?", input_html: { class: "datetimepicker" }, error: "Veuillez choisir une date" %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <%= f.input :budget, label: "Quel est votre budget ?", hint: "prix moyen d'un plat principal", collection: @budgets, selected: 0 %>
    </div>
  </div>
  <div class="row">
    <div class="pref_link">
      <a class="carmen_btn" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        + de choix
      </a>
    </div>
    <div class="collapse" id="collapseExample">
      <div class="pref">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <%= f.input :mood, label: "Quelle ambiance cherchez vous ?", collection: @moods, as: :radio_buttons %>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <%= f.input :comment, label: "Avez-vous des préférences ?", as: :text %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= f.input :phone, label: "Quel est votre numéro de mobile ?", as: :tel, placeholder: "Nécessaire pour la réservation", error: "Veuillez insérer un numéro de mobile"  %>
    </div>
  </div>
    <div>
        <%= f.submit "Demander à carmen", class: "submit_carmen" %>
    </div>
<% end %>

<%= content_for(:after_js) do %>
  <%= javascript_tag do %>
  var today = new Date();
    $('#demand_date').datetimepicker({
      format: 'DD dd MM yyyy à hh:ii',
      autoclose: true,
      language: 'fr',
      todayHighlight: true,
      minuteStep: 15,
      todayBtn: true,
      startDate : today
    });
  <% end %>
<% end %>
