<div>
  <%= simple_form_for :demand, url: demands_path do |f| %>
    <%= f.input :people, collection: 1..10 %>
    <%= f.input :address, input_html: { id: 'autocomplete_address'} %>
    <%= f.input :date, as: :datetime %>
    <%= f.input :budget, label: "budget : prix moy d'un plat principal", collection: ["moins de 15€", "15 à 25€", "25 à 45€", "45 €et plus"] %>
    <%= f.submit "demander à carmen" %>
  <% end %>
</div>
