<div class="container">
  <%= simple_form_for @demand do |f| %>
  <div class="row">
    <div class="col-md-3">
      <%= f.input :number_of_people, label: "Nombre de couverts", collection: 1..10, selected: 4, placeholder: 'Combien de couverts ?' %>
    </div>
    <div class="col-md-3">
      <%= f.input :location, label: "Adresse", placeholder: "Adresse, quartier, métro, arrondissement...", input_html: { id: 'autocomplete_address'}, error: "Veuillez choisir une adresse valide" %>
    </div>
    <div class="col-md-3">
      <%= f.input :scheduled_at, as: :string, label: "Date de réservation", input_html: { class: 'datetimepicker' } %>
    </div>
    <div class="col-md-3">
      <%= f.association :budget, label: "Quel est votre budget ?", hint: "prix moyen d'un plat principal" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :tags, label: "Catégorie(s)", placeholder: "Exemple : japonais romantique business gastronomique" %>
    </div>
    <div class="col-md-6">
      <%= f.input :comment, label: "Remarques" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <% if current_user %>
        <%= f.input :phone, label: "Votre numéro de mobile", input_html: { value: current_user.mobile_phone } %>
      <% else %>
        <%= f.input :phone, label: "Quel est votre numéro de mobile ?", placeholder: "Nécessaire pour la réservation" %>
      <% end %>
    </div>
    <div class="col-md-6">
      <%= f.submit "Demander à Carmen", class: "input-md submit_carmen" %>
    </div>
  </div>
  <% end %>
</div>
