<!DOCTYPE html>
<html>
  <head>
    <title>Carmen</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google-site-verification" content="7IG4jAgSr48nTrPtjj8nZSzLu908E0T8V91otu4fUIQ" />
    <meta name="description" content="Carmen réserve et choisit et réserve un restaurant pour vous en fonction de vos préférences.">
         <!-- twitter sharing tags -->
    <meta name="twitter:title" content="Carmen, vous guide vers de vraies bonnes bonnes adresses de restaurants">
    <meta name="twitter:description" content="Carmen choisit et réserve un restaurant pour vous en fonction de vos préférences.">
    <meta name="twitter:image" content="https://res.cloudinary.com/dflt5cwj2/image/upload/v1497614988/carmen_bg_c6jgf8.png">
    <meta name="twitter:card" content="summary_large_image">

     <!-- facebook sharing tags -->
    <meta property="og:title" content="Carmen, vous guide vers de vraies bonnes bonnes adresses de restaurants">
    <meta property="og:description" content="Carmen choisit et réserve un restaurant pour vous en fonction de vos préférences.">
    <meta property="og:image" content="https://res.cloudinary.com/dflt5cwj2/image/upload/v1497614988/carmen_bg_c6jgf8.png">
    <meta property="og:url" content="https://www.facebook.com/carmentheapp/">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <div class="content">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
      <%= yield %>
  </div>
  <%= render 'shared/footer' %>

    <!-- Include Google Maps JS API -->
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?libraries=places&key=<%= ENV["GOOGLE_API_KEY"] %>">
    </script>

    <!-- Custom JS code to bind to Autocomplete API -->
    <!-- find it here: https://github.com/lewagon/google-place-autocomplete/blob/gh-pages/autocomplete.js -->
    <!-- We'll detail this file in the article -->
    <%= javascript_include_tag 'application' %>

    <%= yield(:after_js) %>
  </body>
</html>
